/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

*{
    padding: 0;
    margin: 0;
}

body{  
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    font-size: 38px;
}

h2{
    font-size: 20px;
}

.header, .options, .service{
    display: flex;
    padding-bottom: 80px;
}


.headertext, .headerimage, .menu, .menutext, .option, .optiontext {
    flex-basis: 50%;
}

.option, .menu{
    display: flex;
    align-items: center;
}

.headertext{
    max-width: 490px;
    margin-left: 60px;
}
.headerimage{
    max-width: 490px;
    image-resolution: 425px;
 }

.menu{
    max-width: 550px;
    margin-left: 60px;
}

.menutext{
    max-width: 430px;
}

.option{
    max-width: 550px;
}


.optiontext{
    max-width: 430px;
    margin-left: 60px; 
}

.one, .two, .three, .four, .five, .six{
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}