/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #8B8B8B;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 640px) {

    body {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .header,
    .options,
    .service {
        display: flex;
        flex-direction: column;
    }

    .headertext,
    .headerimage,
    .menu,
    .menutext,
    .option,
    .optiontext {
        padding: 20px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }

    .headerimage img {
        width: 100%;

    }

    .one,
    .two,
    .three,
    .four,
    .five,
    .six {
        font-size: 12px;
        justify-content: space-around;
        text-align: center;
        padding: 20px;
        margin: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 6px #407BFF1F;
        display: flex;
        align-items: center;
    }

    .one img,
    .two img,
    .three img,
    .four img,
    .five img,
    .six img {
        padding: 10px;
    }

}

@media only screen and (min-width: 640px) and (max-width: 1100px) {
    body {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .header,
    .options,
    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headertext,
    .headerimage,
    .menu,
    .menutext,
    .option,
    .optiontext {
        padding: 20px;
    }

    .buttons {
        display: flex;
        margin-top: 20px;
    }

    .headerimage img {
        width: 100%;
    }

    .menu,
    .option {
        display: flex;
    }

}

.one,
.two,
.three,
.four,
.five,
.six {
    font-size: 12px;
    text-align: center;
    padding: 40px 15px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
}

.one img,
.two img,
.three img,
.four img,
.five img,
.six img {
    padding: 10px;
}


@media only screen and (min-width: 1100px) {

    .header,
    .options,
    .service {
        display: flex;
        padding-top: 80px;
    }

    .headertext,
    .headerimage,
    .menu,
    .menutext,
    .option,
    .optiontext {
        flex-basis: 50%;
        align-content: center;
    }

    .one,
    .two,
    .three,
    .four,
    .five,
    .six {
        font-size: 12px;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 40px 15px;
        margin: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 6px #407BFF1F;
    }

    .one p,
    .two p,
    .three p,
    .four p,
    .five p,
    .six p {
        padding-top: 20px;
    }

    .option,
    .menu {
        display: flex;
        align-items: center;
    }

    .menutext,
    .headerimage {
        margin-left: 60px;
    }

    .optiontext {
        margin-right: 60px;
    }

    .buttons {
        display: flex;
        margin-top: 20px;
    }

}


h1 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}


.button1 a,
.button2 a {
    text-decoration: none;
    color: white;
}

.button1 {
    background-color: #407BFF;
}

.button2 {
    background-color: #8B8B8B;
}

.button1,
.button2 {
    flex-direction: column;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 20px;
    font-size: 14px;
}

.headertext {
    max-width: 490px;
}

.headerimage {
    max-width: 490px;
    background-size: 425px;
}

.menu {
    max-width: 550px;
}

.menutext {
    max-width: 430px;
}

.option {
    max-width: 550px;
}

.optiontext {
    max-width: 430px;
}